<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About Me</a>
      {% endcomment %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
        
          {% if node.title == "About Jamie Wilcox" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"> About Me </a>
          {% endif %}
          
          {% if node.layout == "page" and node.title != "About Jamie Wilcox" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        
        {% endif %}
      {% endfor %}


<!-- Below is how you can add an external link -->
<!--      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>-->
        
    </nav>

  </div>
</div>
